<div style="background-color:rgb(0, 36, 114); padding-bottom: 0.5em; border: grey 0.2em solid;">
    <h1 style="color: white">
        Flight
    </h1>
</div>


<!-- Show selections based on previous page-->

<div style="background-color:#e6eeff; margin: 0em; border: lightgray 0.2em solid;" class="row justify-content-md-center">
    <div class="col-sm-5">
        <h3 style="font-weight: bold">Departing</h3>
        <div style="width: inherit; display: table;">
            <div style="display: table-cell;">

                <h4>01 DEC (SUN) <br>
                    SINGAPORE (SIN) <br></h4>
            </div>
            <div style="padding-left: 1em; padding-right: 5em; display: table-cell;">
                <img src="https://img.icons8.com/metro/26/000000/airplane-mode-on.png" style="vertical-align: top;">

            </div>

            <div style="display: table-cell;">
                <h4>01 DEC (SUN) <br>
                    SEOUL (ICN) <br></h4>
            </div>
        </div>
    </div>
    <div class="col-sm-2"></div>
    <!--ARRIVAL-->
    <div class="col-sm-5">
        <h3 style="font-weight: bold">Returning</h3>
        <div style="width: inherit; display: table;">
            <div>

                <h4>01 DEC (SUN) <br>
                    SINGAPORE (SIN) <br></h4>
            </div>
            <div style="display: table-cell; padding-left: 1em; padding-right: 5em;">
                <img src="https://img.icons8.com/metro/26/000000/airplane-mode-on.png" style="vertical-align: top;">

            </div>

            <div>
                <h4>01 DEC (SUN) <br>
                    SEOUL (ICN) <br></h4>
            </div>
        </div>
    </div>
</div>