<h1 style="padding: 0.5em 0em; text-align: center">One stop service for flight booking for students!
</h1>
<hr>
<div class="container">
    <!--This is the group for the header buttons-->
    <div style="padding: 0em 0.5em; justify-content: center" class="row justify-content-md-center">
        <a style="padding:0em 0.5em" href="/">
            <button class="btn btn-secondary btn-lg">
                Home/Search Flights
            </button>
        </a>
        <a style="padding: 0em 0.5em" href="/account">
            <button class="btn btn-secondary btn-lg">
                Account
            </button>
        </a>
    </div>
</div>
<hr>