<html>

<head>
    <link rel="stylesheet" href="index.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Airline Ticketing System</title>
</head>

<body>
    <br>
    <div class="container">
        <h2>Admin Panel</h2>
        <table>
            <th>
                <td>
                    header
                </td>
            </th>
            <tr>
                <td>
                    hi
                </td>
                <td>bye</td>
            </tr>
        </table>
    </div>
</body>

</html>